
html {
  scroll-behavior: smooth;
 }

 body{
 	width: auto;
 	height: auto;

 	scroll-behavior: smooth;
 }

body, html {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.sticky {
      position: sticky;
      top:0;
}

/* Overall Div containing user's screen size. */
#screenSizeDiv{
	position: fixed;
	scroll-behavior: smooth;
	height:100%;
	width:100%;
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* ---------------------------------------------------------------------- -------------------------------------- */

#topcard{
	position: fixed;
	background-color: black;
	z-index: 1;
	top: 0px;
	left: -1000px;
	width: 2400px;
}
/* ---------------------------------------------------------------------- -------------------------------------- */


/* This div contains the name, title of current page, and page selector. -------------------------------------- */
#titleDiv{
	z-index: 2;
	position: sticky;
	height: 10%;
	min-height: 100px;
	margin:0px;
    padding:0px;
    top: 8px;
    background-color: white;
}

#titleLineTop{
	position: relative;
	z-index: 3;
	top: 20px;
	border: none;
	height: 4px;
	left: -1000px;
	width: 2200px;
	background-color: black;
}

#name{
	font-size: 130%;
	padding: 0px;
	margin: 0px;
	z-index: 4;
	position: relative;
	left: 20px;
	width: 300px;
	top: 5px;
}

#scrollButtons{
	z-index: 3;
	position: fixed;
	width: 900px;
	left: 320px;
	top: 42px;
}

.tab {
  z-index: 3;
  position: absolute;
  left: 675px;
  top: 20px;
  height: 100px;
  color: #444444;
  font-size: 120%;  
}

.tab button {
  /*position: static;*/
  background-color: inherit;
  z-index: 3;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 21px;
  min-width: 80px;
  white-space: nowrap; 
}

.tab button:hover {
  background-color: #ddd;
}

#titleLineBase{
	z-index: 3;
	position: relative;
	top: -11px;
	border: none;
	height: 2px;
	background-color: black;
	left: -1000px;
	width: 2200px;
}


/* ---------------------------------------------------------------------- -------------------------------------- */
#aboutMeDiv{
	position: relative;
	overflow: hidden;
	width: 100%
	min-width: 1100px;
}

#photos img{
	position: relative;
	top: 2.5px;
}

#p1{
	left: 20px;
	top: 5px;
}
#p2{
	left: 40px;
}
#p3{
	left: 60px;
	top: 5px;
}
#p4{
	left: 80px;
}
#p5{
	left: 100px;
}

#p6{
	left: 120px;
}

#titleAboutMe{
	font-size: 35px;
	left: 40px;
	position: relative;
}

#insert{
	position: relative;
	left: 80px;
	width: 775px;
	max-height: 60%;
	display: inline-block;
	padding: 0;
	margin: 0;
	top: -40px;
}
#insert p{
	font-size: 	95%;
	width: 700px;
	position: relative;	
	overflow: auto;
}

#profilePicture{
	position: relative;
	left: 750px;
	top: -450px;
	display: inline-block;
	overflow: hidden;
}

#aboutLine{
	position: relative;
	height: 1px;
	left: -1000px;
	width: 2200px;
	background-color: black;
}



/* ---------------------------------------------------------------------- -------------------------------------- */

#interests{
	font-size: 35px;
	display: inline;
	position: relative;
	top: -30px;
	left: 40px;
}

/* ---------------------------------------------------------------------- -------------------------------------- */

#resumeTitle{
	left: 40px;
	position: relative;
	font-size: 35px;
}

#resume{
	left: 220px;
	top: -70px;
	position: relative;
	font-size: 35px;
}

/* ---------------------------------------------------------------------- -------------------------------------- */

#projectTitle, #work{ 
	left: 40px;
	position: relative;
	font-size: 35px;
	width: auto;
}

/* This section of code was modified/taken from W3 schools, specifically from sections related to slideshows --------*/

/* Slideshow container */
.slideshow-container {
  width:90%;
  position: relative;
  margin: 0;
  padding: 0;
}

/* Hide the images by default */
.projectSlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  top: -40px;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border:solid;
  border-radius: 8px;
  border-color: black;
  user-select: none;
  padding-left: 15px;
  left: 500px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color:white;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* -------------------------------------------- */


/* ---------------------------------------------------------------------- -------------------------------------- */

#courseTitle{
	left: 40px;
	position: relative;
	font-size: 35px;
	margin: 0;
	padding: 0;
}

#courses{
	padding: 0;
	margin: 0;
	width: 70%;

	position: relative;	
	left: 	80px;
}

#courses h5{
	font-size: 17px;
}


/* ---------------------------------------------------------------------- -------------------------------------- */

#contactDiv{
	position: relative;
	height: 100px;
	overflow-y: hidden;
	padding: 0;
	margin: 0;
}

#contactTitle{
	left: 40px;
	position: relative;
	font-size: 35px;
}

#t1{
	position: relative;
	left: 40px;
	top: -30px;
}

#email{
	position: relative;
	left: 330px;
	top: -230px;
}

#git{
	position: relative;
	left: 430px;
	top: -230px;
	display: inline;
}

#badge{
	position: relative;
	left: 550px;
	top: -100px;
	display: inline-block;
	padding: 0;
	margin: 0;
	
}


/* ---------------------------------------------------------------------- -------------------------------------- */

#panel{
	background-color:black;
	position: relative;
	top: 0px;
	width: 2200px;
	left: -1000px;
	height: 100px;
}

/*----------------------------------------------------------------------------------------------------------------*/



