
html {
  scroll-behavior: smooth;
 }

 body{
 	width: auto;
 	height: auto;
 	scroll-behavior: smooth;
 }

body, html {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.sticky {
      position: sticky;
      top:0;
}

/* Overall Div containing user's screen size. */
#screenSizeDiv{
	position: fixed;
	scroll-behavior: smooth;
	height:100%;
	width:100%;
	padding: 0;
	margin: 0;
	overflow: scroll;
}

/* ---------------------------------------------------------------------- -------------------------------------- */

#topcard{
	position: fixed;
	background-color: black;
	z-index: 1;
	top: 0px;
	width: 1200px;
}
/* ---------------------------------------------------------------------- -------------------------------------- */


/* This div contains the name, title of current page, and page selector. -------------------------------------- */
#titleDiv{
	z-index: 1;
	position: sticky;
	height: 10%;
	min-height: 100px;
	margin:0px;
    padding:0px;
    top: 8px;
    background-color: white;
}

#titleLineTop{
	position: relative;
	top: 20px;
	border: none;
	height: 4px;
	width: 110%;
	background-color: black;
}

#name{
	font-size: 130%;
	padding: 0px;
	margin: 0px;
	position: fixed;
	left: 20px;
	width: 300px;
}

#scrollButtons{
	position: fixed;
	width: 900px;
	left: 320px;
	top: 49px;

}

.tab {
  position: absolute;
  left: 675px;
  top: 20px;
  height: 100px;
  color: #444444;
  font-size: 120%;  
}

.tab button {
  /*position: static;*/
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 21px;
  min-width: 80px;
  white-space: nowrap; 
}

.tab button:hover {
  background-color: #ddd;
}

#titleLineBase{
	position: relative;
	top: 85px;
	border: none;
	height: 2px;
	background-color: black;
	width: 110%;
}


/* ---------------------------------------------------------------------- -------------------------------------- */
#aboutMeDiv{
	position: relative;
	overflow: hidden;
	width: 100%
	min-width: 1100px;
}

#p1{
	position: relative;
	left: 20px;
}
#p2{
	position: relative;
	left: 40px;
}
#p3{
	position: relative;
	left: 60px;
}
#p4{
	position: relative;
	left: 80px;
}
#p5{
	position: relative;
	left: 100px;
}

#titleAboutMe{
	left: 40px;
	position: relative;
	font-size: 35px;
}

#insert{
	position: relative;
	overflow: visible;
	left: 0px;
	width: 775px;
	height: auto;
	padding: 0;
	margin: 0;
	display: inline-block;
	padding: 0;
	margin: 0;
	top: -100px;
}
#insert p{
	font-size: 	15px;
	width: 700px;
	position: relative;	
	left: 	80px;
	overflow: auto;
}

#aboutLine{
	position: relative;
	height: 1px;
	width: 110%;
	background-color: black;
}

#profilePicture{
	position: relative;
	left: 50px;
	top: -50px;
	display: inline;
	overflow: hidden;
}

/* ---------------------------------------------------------------------- -------------------------------------- */

#interests{
	font-size: 35px;
	display: inline;
	position: relative;
	top: -30px;
	left: 40px;
}

/* ---------------------------------------------------------------------- -------------------------------------- */

#resumeTitle{
	left: 40px;
	position: relative;
	font-size: 35px;
}

#resume{
	left: 220px;
	top: -70px;
	position: relative;
	font-size: 35px;
}

/* ---------------------------------------------------------------------- -------------------------------------- */

#projectTitle, #work{ 
	left: 40px;
	position: relative;
	font-size: 35px;
}



/* ---------------------------------------------------------------------- -------------------------------------- */

#courseTitle{
	left: 40px;
	position: relative;
	font-size: 35px;
	margin: 0;
	padding: 0;
}

#courses{
	padding: 0;
	margin: 0;
	width: 1000px;
	position: relative;	
	left: 	80px;
}

#courses h5{
	font-size: 17px;
}


/* ---------------------------------------------------------------------- -------------------------------------- */

#contactTitle{
	left: 40px;
	position: relative;
	font-size: 35px;
}

#t1, #t2, #t3{
	position: relative;
	left: 100px;
	top: -30px;
}

#email{
	position: relative;
	left: 300px;
	top: -30px;
}

#git{
	position: relative;
	left: 450px;
	top: -30px;
	display: inline;
}

#badge{
	position: relative;
	left: 1000px;
	top: -300px;
	display: inline;
}


/* ---------------------------------------------------------------------- -------------------------------------- */

#panel{
	background-color:black;
	position: relative;
	top: -0px;
	height: 100px;
}
